<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <%include ../../partials/login/login.ejs%>
    <a href="/cinema/<%=screenings.CinemaId%>/movie/<%=screenings.MovieId%>">back</a>
    <center>
        <form method="POST">
            <%=movie.title%><br>
            <%=movie.release%><br>
            <%=movie.rating%><br>
            <%=movie.runtime%><br>
            <%=movie.trailer%><br>
            <%=movie.genre%><br>
            <%=movie.image%><br>
            <%=movie.synopsis%><br>
            <table border="1" width="200" cellpadding="10">
                <thead>
                    <tr>
                        <td colspan="10" align="center">
                            SCREEN
                        </td>
                    </tr>
                </thead>
                <tr>
                    <td align="center">
                        <%screenings.Seats.forEach(seat => {%>
                            <input type="checkbox" name="SeatId" value="<%=seat.id%>" <%=seat.status === 'empty' ? '' : 'checked disabled'%>>
                            <input type="hidden" name="status" value="<%=seat.status%>">
                            <input type="hidden" name="seatId" value="<%=seat.id%>">
                        <%})%>
                    </td>
                </tr>
            </table>
            <br>
            <%if(loginStatus === true) {%>
            <input type="submit" value="Pick Seats">
            <%}%>
        </form>
    </center>
</body>
</html>