<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <ul>
       <li> <%= movie.name %></li>
       <li> <%= movie.synopsis %></li>
       <li> <%= movie.trailer %></li>
       <li> <%= movie.image %></li>
       <li> <%= movie.rating %></li>
   </ul>
   now showing : 
   <%if(movie.Cinemas.length != 0) {%>
    <% for(key of movie.Cinemas){  %>
        <%=key.name%>
    <%}    %>
   <%}else {%>
    gak ada
    <% } %>


    
 
</body>
</html>