<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Movie</title>
</head>
<body>
    <table>    
       
    
        <form action="" method="post">
            name : <input type="text" name="name" value="<%= movie.name%>" >
            rating : <input type="number" name="rating" step="0.1" value="<%= movie.rating%>">
            synopsis : <input type="textarea" name="synopsis" value="<%= movie.synopsis%>">
            image : <input type="text" name = "image" value="<%= movie.image%>">
            trailer : <input type="text" name="trailer" value="<%= movie.trailer%>">

        <button type="submit">Submit</button>
            

            
        </form>
        </table>

    
</body>
</html>